<h1>Welcome to Battle!</h1>
<h2>Sign in to play</h2>
<form action='/names' method='post'>
  <label for="player1">
    Player 1 name
    <input type="text" name="player1">
  </label>
  <label for="player_2_name">
    Player 2 name
    <input type="text" name="player2">
  </label>
    <input type="submit" value="Submit">
</form>
